/*Estilos index.html*/
/*Nuevos productos*/
$jumbotron-color: #ffffff;

/*Nuevos productos*/
.jumbotron {
    background-image: url(../img/portada.jpg);
    background-size: cover;
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content:end;
    color: $jumbotron-color;
    border-radius: 0;
    margin-bottom: 0;
    h2 {
        font-size: 5rem;
        padding: 10px;
        font-family: $fuente-title;
    }

    p {
        font-size: 1.3rem;
        font-weight: bold;
    }
    
    a {
        transition: transform 1s;
        text-decoration: none;
    }

    a:hover {
        transform: scale(1.1);
    }
}